nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    padding: 20px 21px 0 !important;
}

.back {
    display: flex;
    align-items: center;
}

.form div .quantity {
    flex-direction: row;
    margin-bottom: 0;
}

.quantity input {
    width: 80%;
    box-shadow: -0px 0px 3px rgba(0, 0, 0, 0.25);
}

.quantity select {
    width: 20%;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    margin-left: -10px;
}

.description {
    height: 100px;
    margin-bottom: 0 !important;
}

::placeholder.description {
    display: flex;
    align-items: flex-start;
}

.fontstyle {
    background: #C7C7C7;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    margin-bottom: 0 !important;
}

.fontstyle svg {
    margin: 0 10px;
}

.quantity div {
    display: flex;
    flex-direction: row;
}

.upload,
.upload-file {
    padding: 0 !important;
    height: fit-content;
}

.quantity a {
    margin-left: 5px;
}

.upload {
    padding: 15px;
}

input[type="file"]::file-selector-button {
    background: #878787;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: white;
    border-radius: 5px;
}

.btn {
    display: flex !important;
    justify-content: center !important;
    flex-direction: row;
    margin-bottom: 50px !important;
}

.login-btn {
    margin: 0px 0;
}

.booking-amount {
    display: flex;
    margin-bottom: 0 !important;
}

.booking-amount div {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

.booking-amount div input {
    width: fit-content;
    height: fit-content;
    margin: 0 5px 0 5px;
}

.streaming-time div {
    display: flex;
    flex-direction: row;
    box-shadow: -0px 0px 3px rgba(0, 0, 0, 0.25);
    background: none !important;
    padding-bottom: 0 !important;
    background-color: red;
    margin-bottom: 0 !important;

}

.hours,
.minutes,
.am-pm {
    width: 30%;
    padding-right: 20px;
}

.streaming-time select {
    width: 100%;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

}

.streaming-time .icon {
    display: flex;
    align-items: center;

    justify-content: center;
    width: 10%;
}

label {
    font-weight: bold;
}

.form p {
    margin-left: 10px;
}

.form {
    padding: 0 18px;
}