<div class="main">
    <nav>
        <div class="back">
            <toggle-menu></toggle-menu>
        </div>

        <div class="heading">
            <a href="https://agriexpo.live/">
                <img style="width: 151px;" src="../../../assets/images/logo.png" alt="" srcset="">
            </a>
          
        </div>
        <div class="add">

        </div>
    </nav>

    <div class="content">
       <div class="img-bg">
        <div class="img">
            <img src="../../../assets/images/bg-ex.png" alt="" srcset="">
        </div>
       
       </div>
       <div class="box-welcome">
        <div>
            <h2>Agri Expo India</h2>
        <h1>2023</h1>
        <h5>Book a slot for your business</h5>
        <button (click)="routeto()">Book now</button>
        </div>
        
    </div>
    </div>

</div>