header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.change-user {
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;

}

.change-user img {
    margin-bottom: -5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #FAFAFA;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

nav div {
    display: flex;
    align-items: center;
}

.heading {
    display: flex;
}

.heading p {
    margin: 0 !important;
    margin-left: 5px !important;
    color: var(--blue);
}

/* products */
.products-container {

    /* height: 90vh; */
    /* overflow-y: scroll; */
}

.view-icons span {

    width: auto !important;
}

.products {
    padding: 10px;
    border-bottom: 1px solid #E7E9ED;
}

.products p {
    margin-bottom: 0;
}

.products div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
}

.products div span {
    display: flex;
    align-items: center;
}

.products div span:first-child {
    width: 150px;

}

.date,
.quantity,
.price {
    width: 100px;
}

.products svg {
    margin-right: 5px;
}

.mypost-edit,
.delete {
    width: 100px;
    display: flex;
    justify-content: end !important;
}

.date {
    color: rgba(10, 38, 71, 0.5);
    font-size: 12px;
}

sub {
    text-decoration: line-through;
    opacity: 70%;
}

.row-one:first-child {
    margin-top: 5px !important;
}

.row-one:last-child {
    margin-top: 10px !important;
}
.content{
    width: 100%;
    height: 100%;
   
}
.img-bg{
height: 380px;
    background-color: #D7E6DE;
    border-radius: 0 0 44px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.img{
     width: 260px;
     margin-bottom: 20px;
}
.box-welcome{
display: flex;
    justify-content: center;
    position: relative;
    bottom: 44px;
    background-color: transparent;
}
.box-welcome div{
    background-color: white;
        border-radius: 30px;
    width: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
img{
    width: 100%;
}
.box-welcome h2{
    font-size: 20px;
    margin: 10px 0 0 20px;
}
.box-welcome h1{
    margin: 10px 0 0 18px;
}
.box-welcome h5{
     margin: 10px 0 0 18px;
}
.box-welcome button{
       margin: 10px 0 9px 50px;
    background-color: var(--blue);
    color: white;
    padding: 7px 57px;
    border: none;
    border-radius: 28px;
}
nav {
    background-color: #D7E6DE;
}