header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: sticky;
    top: 0;
}

.change-user {
    /* border-radius: 100%; */
    overflow: hidden;
    cursor: pointer;
    margin: 3px 12px;
    border-radius: 50%;
    box-shadow: 0 0 6px 0px #80808070;
}
.change-user img{
    border-radius: 50%;
    padding: 5px
}