<nav>
    <div class="back">
        <backbutton></backbutton>

    </div>
    <h1 class="welcome" style="font-family: sans-serif !important;font-size: 22px!important;" 
    >Choose Slots</h1>
    <div class="back" >
        <div style="color: green;font-weight: 600;">
           {{planName}}
        </div>
    </div>
</nav>
<div class="main-container">
    <div class="date-container">
        <p  class="date" [class.date-active]="v == selectedDate" 
        *ngFor="let v of dates" (click)="changeSDate(v)">
       <span>{{v|date:'EEE'}}</span><span>{{v|date:'dd-MMM'}}</span>  </p>
      
    </div>
    <div class="slot-container">
        <div class="slot-title">
            <h4>Normal</h4>
        </div>
        <div class="own-slot">
            <span *ngFor="let v of normalS" class="os">{{v.Duration}} mins - {{v.Slots}}/{{v.selected_count == undefined ? 0 :v.selected_count}}     
            </span>
          

        </div>
    </div>
    <div class="buy-container">
        <span [class.hide]="(selectedDate | date:'dd-MM-YYYY')  !=  (v.chooseTime | date:'dd-MM-YYYY')"
         *ngFor="let v of normal" class="buy-slot" (click)="choose(v)" 
         [ngClass]="isActive(v._id)? 'slot-active' :''">
            <p style="bottom: 8px;" >{{v.start| date:'h:mm a'}}-{{v.end | date:'h:mm a'}}</p>
            <p style="top:12px">Duration: {{v.Duration }} <span *ngIf="isActive(v._id)" >-</span><span
               *ngIf="isActive(v._id)" class="count">{{returnIndex(v._id) + 1}}</span></p>
            <span class="left"></span>
            <span class="right"></span>
        </span>
     
    </div>
    <div class="slot-container">
        <div class="slot-title">
            <h4>Peak</h4>
        </div>
        <div class="own-slot">
            <span *ngFor="let v of peakS" class="os peak">{{v.Duration}} mins - {{v.Slots}}/{{v.selected_count == undefined ? 0 :v.selected_count}}</span>  
        
        </div>
    </div>
    <div class="buy-container">
        <span [class.hide]="(selectedDate | date:'dd-MM-YYYY')  !=  (v.chooseTime | date:'dd-MM-YYYY')"
        (click)="chooseP(v)"
         *ngFor="let v of peak" class="buy-slot"  [ngClass]="isActive(v._id)? 'slot-active-p' :''">
            <p style="bottom:8px">{{v.start| date:'h:mm a'}}-{{v.end | date:'h:mm a'}}</p>
            <p style="top:12px">Duration: {{v.Duration }}<span *ngIf="isActive(v._id)" >-</span><span
                *ngIf="isActive(v._id)" class="count">{{returnIndex(v._id) + 1}}</span></p>
            <span class="left peak"></span>
            <span class="right peak"></span>
        </span>
    
    </div>
    <div class="slot-container">
        <div class="slot-title">
            <h4>Exclusive</h4>
        </div>
        <div class="own-slot">
            <span *ngFor="let v of exS" class="os ex">{{v.Duration}} mins - {{v.Slots}}/{{v.selected_count == undefined ? 0 :v.selected_count}}</span>
        </div>
    </div>
    <div class="buy-container">
        <span [class.hide]="(selectedDate | date:'dd-MM-YYYY')  !=  (v.chooseTime | date:'dd-MM-YYYY')"
         *ngFor="let v of exclusive" class="buy-slot" (click)="chooseEx(v)" [ngClass]="isActive(v._id)? 'slot-active-e' :''" >
            <p  style="bottom:8px">{{v.start| date:'h:mm a'}}-{{v.end | date:'h:mm a'}}</p>
            <p style="top:12px">Duration: {{v.Duration }} <span *ngIf="isActive(v._id)" >-</span><span
                *ngIf="isActive(v._id)" class="count">{{returnIndex(v._id) + 1}}</span></p>
            <span class="left ex"></span>
            <span class="right ex"></span>
        </span>
    </div>
    <div class="button">
        <button class="btn btn-success" (click)="viewslots()" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
    </div>

</div>