.main-container {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    max-width: 1000px;
    /* height: 100vh; */
    position: relative;
}

nav {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back {
    width: 15px;
    display: flex;
    justify-content: start;
}

.edit {
    display: flex;
    justify-content: end;
    margin-right: -15px;
}

nav .back,
nav h3 {
    display: flex;
    align-items: center;
    color: var(--blue);
}

nav h3 svg {
    margin-right: 5px;
}

.form-container {
    padding: 0 15px;
    margin-top: 40px;
}

.form-container h3 {
    margin-bottom: 25px;
    text-align: center;
}

.form-container div {
    display: flex;
    margin-bottom: 15px;
}

.form-container p {
    margin-bottom: 25px;
    margin-bottom: 0;
}

.form-container div label {
    margin: 0 0 2px 10px;
    height: fit-content;
    width: 50%;
    font-size: 16px !important;
}

.form-container div input {
    background: #FAFAFA;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 15px;
}

.resend-otp {
    font-size: 12px;
    text-align: right;
    margin: 5px;
    text-decoration: underline;
}

.login-btn {
    width: fit-content;
    margin: auto;
    margin-top: 35px;

}

.login-btn button {
    background-color: var(--green);
    border: none;
    padding: 10px 35px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

.profile-btn {
    width: 90%;
    position: absolute;
    bottom: 15px;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-btn button {
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 3px;
    width: 48%;
    color: white;
    justify-content: center;
    border: none;
}

.profile-btn button svg {
    margin-right: 5px;
}

.change-password {
    background-color: var(--blue);
}

.logout {
    background-color: #FF4D4D;
}

.form-container label {
    width: 40%;

}

.form-container p {
    width: 60%;
}

.form-container div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-container p input,
.form-container p select {
    box-shadow: 0 0 4px 0px #bbbbbb;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.form-container div button {
    padding: 8px 0px;
    width: 59%;
    background: var(--blue);
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}