header {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  /* padding: 5px; */
}

.change-user {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.change-user svg {
  margin-left: 10px;
}

.form {
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
  margin: auto;
  padding: 0 10px;
}

.btn {
  display: flex !important;
  /* justify-content: center !important; */
  flex-direction: row;
}

.login-btn {
  /* margin: 30px 0; */
  padding: 0;
  justify-content: space-between;
}

.welcome {
  text-align: center;
  font-weight: bold;
}

.normal-btn {
  background-color: white;
  border: none;
  color: var(--green);
  box-shadow: 0 0 3px 2px #00944536;
  font-weight: bold;
}

.login-btn button {
  /* margin: 10px; */
  width: 49%;
  border-radius: 2px;
}

input[type="checkbox"] {
  width: 30px;
  height: 20px;
  background-color: #ffffff;
  box-shadow: 0px, 0px, 0px, 0px;
}
.terms {
  display: flex;
  flex-direction: inherit;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hover-to-show {
  position: absolute;
  width: 250px;
  z-index: 1000000000000000000000000000000000000000000000000000000000000;
  margin-left: -131px;
  background: white;
  margin-top: 5px;
  border-radius: 9px;
  padding: 4px 10px;
  font-size: 11px;
  text-align: center;
  box-shadow: 0 0 1px 1px #aeaeae;
  display: none;
  color: black;
}
.hover-me:hover p {
  display: block;
  background: blanchedalmond;
}
.form div select {
  background: #fafafa;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 15px;
}
