<nav>
    <div class="back">
        <backbutton></backbutton>

    </div>
    <h1 class="welcome">Add Sub-Host</h1>
    <div class="back" style="visibility: hidden;">
        <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.6359 7.5L10 13.3336L8.18205 15L0 7.5L8.18205 0L10 1.6664L3.6359 7.5Z" fill="var(--green)" />
        </svg>

    </div>
</nav>
<div class="main-container">
    <form [formGroup]="createsubhost" (submit)="submit_subhost()">
        <div class="form">
            <div>
                <label for="Name">Name :</label>
                <input id="Name" type="text" placeholder="Enter Sub Host Name" formControlName="contactName">
            </div>
            <p style="text-align: right;color: red;height: 20px;">
                <span *ngIf="createsubhost.get('contactName')?.invalid && submited">Enter Name</span>
            </p>
            <div>
                <label for="emailId">Email ID :</label>
                <input id="emailId" type="text" placeholder="Enter Your Email ID" formControlName="email">
            </div>
            <p style="text-align: right;color: red;height: 20px;">
                <span *ngIf="createsubhost.get('email')?.hasError('required') && submited">Enter Email</span>
                <span *ngIf="createsubhost.get('email')?.hasError('email') && submited">Enter Valid Email</span>
            </p>
            <div>
                <label for="phoneNumber">Phone Number :</label>
                <input id="phoneNumber" type="tel" placeholder="Enter Your Phone Number" formControlName="mobileNumber"
                    onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57">
            </div>
            <p style="text-align: right;color: red;height: 20px;">
                <span *ngIf="createsubhost.get('mobileNumber')?.hasError('required') && submited">Enter
                    PhoneNumber</span>
                <span *ngIf="createsubhost.get('mobileNumber')?.hasError('pattern') && submited">Enter
                    Valid PhoneNumber</span>


            </p>
            <div>
                <label for="Role">Role :</label>
                <select formControlName="sellerRole" id="Role">
                    <option disabled selected [ngValue]="null">Select Role</option>
                    <option value="chat/stream">Chat/Stream</option>
                    <option value="chat">Chat</option>
                    <option value="stream">Stream</option>
                </select>
            </div>
            <p style="text-align: right;color: red;height: 20px;">
                <span *ngIf="createsubhost.get('sellerRole')?.invalid && submited">Choose Role</span>
            </p>
            <p style="text-align: right;color: red;height: 20px;">{{error_message}}</p>
            <div class="post-btn">
                <button>Submit</button>
            </div>
        </div>
    </form>
</div>