<div class="main">
    <header>
        <new-header></new-header>
    </header>
    <div class="welcome-content">
        <h1 class="welcome">Enter OTP</h1>
    </div>
    <form (submit)="verify_otp()" [formGroup]="verifyOTP">
        <div class="form">

            <div>
                <label>OTP :</label>
                <input onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                    type="tel" maxlength="6" name="" id="OTP" placeholder="Enter OTP" formControlName="otp">
                <!-- <a (click)="resend()" class="forget-password">Resend OTP !</a> -->
            </div>
            <div class="form-error">
                <label *ngIf="submitted && verifyOTP.get('otp')?.invalid">Enter valid OTP !</label>
                <label *ngIf="errorMessage !=null">Invalid OTP</label>
                <label *ngIf="errorMessage2 !=null || errorMessage2 !='' ">{{errorMessage2}}</label>
            </div>
            <div class="resend-otp" style="display: flex; justify-content: end;">
                <p style="color: blue; text-decoration: underline; cursor: pointer; text-align: right;"
                    *ngIf="recentShow" (click)="resendOTP()">Resend OTP
                </p>
                <p style="color: blue; text-align: right;" *ngIf="!recentShow">
                    {{remainingTime}}
                </p>
            </div>
            <div class="login-btn btn">
                <button class="green-btn ">Verify OTP</button>
            </div>
        </div>
    </form>
</div>