<div class="main">
    <header>
        <div class="logo">
            <img src="../../assets/images/logo.png" width="100px">

        </div>
    </header>
    <div class="welcome-content">
        <h1 class="welcome">Enter OTP</h1>
    </div>
    <form (submit)="verify_otp()" [formGroup]="verifyOTP">
        <div class="form">

            <div>
                <label>OTP :</label>
                <input onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                 type="tel" maxlength="6" name="" id="OTP" placeholder="Enter OTP" formControlName="otp">
                <!-- <a (click)="resend()" class="forget-password">Resend OTP !</a> -->
            </div>
            <div class="form-error">
                <label *ngIf="submitted && verifyOTP.get('otp')?.invalid">Enter valid OTP !</label>
                <label *ngIf="errorMessage !=null">{{errorMessage | json}} !</label>
            </div>
           
            <div class="login-btn btn">
                <button class="green-btn ">Verify OTP</button>
            </div>
        </div>
    </form>
</div>