.product-list {
    margin: auto;
    margin-top: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.product-list img {
    width: 100%;
    border-radius: 7px;
    height: 100%;
    position: absolute;
}

.product-list .card-body {
    padding: 7px 12px;

}

.image-view {
    position: relative;
    height: 100px;
    background: white;


}

.add-to-cart {}

.product-div {
    overflow: hidden;
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
    padding-bottom: 10px;
}

.product-div:hover {
    overflow-y: auto;

}


.add-to-cart-button {
    padding: 1px 10px;
    margin-right: 4px;
    border: none;
    background: #5dd46d;
    color: white;
    border-radius: 6px;
    font-size: 15px;
}

.add-to-cart-view {
    padding: 1px 10px;
    margin-right: 4px;
    border: none;
    background: #2b1e1a;
    color: white;
    border-radius: 6px;
    font-size: 15px;
}

.product-title {
    margin: 0;
    font-size: 13px;
}

.stream-details {
    height: 70px;
}

.stream-details h4 {
    text-align: center;
    margin-top: 20px;
}

.single-product {
    width: 50%;
    height: 203px;
    float: left;
    padding: 5px;
}

.product-div:hover {
    overflow: auto;

}

.product-div {
    overflow: hidden;
    /* padding-top: 70px; */


}


/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: gray;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #000;
    border-radius: 10px;
}

.product-lists {
    height: 100%;
    /* overflow: auto; */
    padding: 0;
    overflow-y: auto;
    padding: 0;
    overflow-x: hidden;
}

.product-details {
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    box-shadow: 0px 0px 5px -2px #74d4a6;
    border-radius: 10px;
}

.product-details div {
    padding: 0;
    margin: 0;
    height: 100%;
}

.image-view-medium {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px !important;
}

.image-view-medium img {
    width: 64px;
    height: 64px;
    background: white;
    border-radius: 50%;
}

.title-views {
    display: grid;
    align-content: space-around;
}

.title-views .product-title {
    font-size: 12px;
    color: white;
    /* margin-bottom: 27px; */
}

.price-views {
    display: grid;
    align-content: space-around;
}

.price-views .price {
    margin: 0;
    font-size: 12px;
    text-align: right;
    padding: 10px 23px 0 0;
    color: white;
}

.add-to-cart-icon {
    background: #48D391;
    border-radius: 5px;
    padding: 4px 8px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border: none;
}

.out-of-stock {
    background: #f3cc2b;
    border-radius: 5px;
    padding: 4px 8px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border: none;
}

.price-views .add-t-cart {
    padding: 0px 19px 0 0;
    text-align: right;
}

.hide-class {
    display: none;
}

.product-row {

    height: 100%;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
}

.product-list-div {
    overflow: hidden;
}

.product-list-div:hover {
    overflow: auto;
}

@media only screen and (max-width:400px) {
    .price-views .add-t-cart {
        padding: 0px 2px 0 0;
        text-align: right;
    }
}

@media only screen and (max-width:760px) {
    .product-row {
        display: grid;
        height: 100%;
        align-items: flex-end;
    }
}


.product-lists::-webkit-scrollbar {
    width: 3px;
    border-radius: 10px;

}

.product-lists::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #FFFFFF;
    border-radius: 10px;
}

.product-lists::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #A2A2A2;
}

::-webkit-scrollbar {
    display: block !important;
}

p {
    margin-bottom: 0;
}

.price-value {
    font-size: 10px;
    color: white;
}