<div class="main">
    <header>
        <div class="logo">
            <img src="../../assets/images/logo.png" width="100px">
        </div>
    </header>
    <div class="welcome-content">
        <h1 class="welcome">Set Password</h1>
    </div>
    <form (submit)="set_password()" [formGroup]="setpassword">
        <div class="form">
            <div class="form-row">
                <label for="Password">Password : </label>
                <input type="password" name="" id="Password" placeholder="Enter Password" formControlName="password">
            </div>
            <div class="form-error">
                <label *ngIf="submitted">Enter Password !</label>
            </div>
            <div class="form-row">
                <label for="ConfirmPassword">Confirm Password : : </label>
                <input type="password" name="" id="ConfirmPassword" placeholder="Enter Confirm Password"
                    formControlName="conformPassword">
            </div>
            <div class="form-error">
                <label *ngIf="submitted">Enter Confirm Password !</label>
            </div>
            <label class="form-error" for="" *ngIf="errorMessage !=null">
                {{errorMessage}}
            </label>
            <div class="login-btn btn">
                <button type="submit" class="green-btn ">Submit</button>
            </div>
        </div>
    </form>
</div>