<nav>
    <div class="back">
        <backbutton></backbutton>

    </div>
    <h1 class="welcome">Stream Request</h1>
    <div class="back" style="visibility: hidden;">
        <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.6359 7.5L10 13.3336L8.18205 15L0 7.5L8.18205 0L10 1.6664L3.6359 7.5Z" fill="var(--green)" />
        </svg>

    </div>
</nav>
<div class="page-container post-form">
    <form [formGroup]="postRequest" (submit)="open_preview()">
        <div class="form-container">
            <div class="forms">
                <div class="form-flex" *ngIf="id ==null">
                    <label>Choose Plan <sup style="color: red;">*</sup>:</label>
                    <span class="field_value">
                        <select name="planId" formControlName="planId" (change)="change_plan($event)">
                            <option [ngValue]="null" disabled selected>Select Plan</option>
                            <option *ngFor="let plan of planes; let i = index" [value]="plan._id">{{plan.planName}}
                            </option>
                        </select>
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('planId')?.invalid">Choose Plan</span>
                </p>
                <div class="form-flex">
                    <label>Stream Name <sup style="color: red;">*</sup>:</label>
                    <span class="field_value">
                        <input type="text" name="streamName" id="" formControlName="streamName"
                            placeholder="Enter Stream Name">
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('streamName')?.invalid">Enter Stream Name</span>
                </p>
                <div class="form-flex">
                    <label>Choose Post <sup style="color: red;">*</sup>:</label>
                    <span class="field_value">
                        <div class="dropdown" onclick="event.stopPropagation()">
                            <div type="text" data-bs-toggle="dropdown" aria-expanded="false" placeholder="Select Post">
                                <div class="show_select_post">
                                    <span style="display: flex;align-items: center;margin-left: 19px;"
                                        *ngIf="postRequest.get('post')?.invalid && id==null">Select Post</span>
                                    <span class="field_values" style="max-width: 90%;margin: auto;padding: 10px 0px;">
                                        <p *ngFor="let item of postRequest.get('post')?.value">
                                            {{show_selected_post(item,post_list)}}</p>
                                        <ng-container *ngIf="stepOne !=null">
                                            <p style="background-color: #938a8a;"
                                                *ngFor="let item of stepOne.streamrequestposts">
                                                {{show_selected_post(item._id,stepOne.streamrequestposts)}}</p>
                                        </ng-container>
                                    </span>
                                </div>
                            </div>
                            <ul class="dropdown-menu">
                                <li *ngFor="let data of post_list; let i = index" id="check" class="dropdown-item">
                                    <label [for]="data._id"><input type="checkbox" (change)="change_post($event)"
                                            value="{{data._id}}" [id]="data._id" />
                                        <span>{{data.productName}}</span></label>
                                </li>
                            </ul>
                        </div>
                    </span>

                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('post')?.invalid">Select Post</span>
                </p>
                <div class="form-flex">
                    <label>Primary Language <sup style="color: red;">*</sup>:</label>
                    <span class="field_value">
                        <select name="primarycommunication" formControlName="primarycommunication">
                            <option [ngValue]="null" disabled selected>Select Language</option>
                            <option value="Tamil">Tamil</option>
                            <option value="English">English</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Telugu">Telugu</option>
                            <option value="Malayalam">Malayalam</option>
                            <option value="Kannada">Kannada</option>
                        </select>
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('primarycommunication')?.invalid">Select Language</span>
                </p>
                <div class="form-flex">
                    <label>Secondary Language :</label>
                    <span class="field_value">
                        <select name="secondarycommunication" formControlName="secondarycommunication">
                            <option [ngValue]="null" disabled selected>Select Language</option>
                            <option value="Tamil" *ngIf="postRequest.get('primarycommunication')?.value!='Tamil'">
                                Tamil</option>
                            <option value="English" *ngIf="postRequest.get('primarycommunication')?.value!='English'">
                                English</option>
                            <option value="Hindi" *ngIf="postRequest.get('primarycommunication')?.value!='Hindi'">
                                Hindi</option>
                            <option value="Telugu" *ngIf="postRequest.get('primarycommunication')?.value !='Telugu'">
                                Telugu</option>
                            <option value="Malayalam"
                                *ngIf="postRequest.get('primarycommunication')?.value !='Malayalam'">
                                Malayalam</option>
                            <option value="Kannada" *ngIf="postRequest.get('primarycommunication')?.value !='Kannada'">
                                Kannada</option>

                        </select>
                    </span>
                </div>
                <div class="form-flex" style="position: relative;">
                    <label>Images Upload</label>
                    <span class="field_value">
                        <span *ngIf="selected_image  ==null && stepOne ==null" class="over-image"
                            style="display: flex;justify-content: space-between;width: 100%;"
                            (mouseout)="mouseout('over-image')"
                            ngClass="{{stepOne  !=null && selected_image==null ?'hide-image':''}}">
                            <input type="file" name="" id="image-upload" style="display: none;"
                                accept="image/png, image/gif, image/jpeg" (change)="change_image($event)">
                            <label style="width: 50%;" for="image-upload" class="btn btn-primary"
                                (mouseout)="mouseout('over-image')">{{id==null?'Choose':'Change'}}</label><span
                                style="width: 50%;display: flex;text-align: center;align-items: center;justify-content: left;font-size: 12px; ">
                                .jpg, .jpeg, .png ( Up to 5 Image)</span>
                        </span>
                        <span *ngIf="selected_image  !=null" style="display: flex;">
                            <div style="display: block;position: relative;width: 20%;padding-left: 4px;">
                                <span
                                    style="font-size: 13px;position: absolute;right: 0;top: 0;padding: 0px 8px;background: red;color: white;border-radius: 50%;cursor: pointer;z-index: 100"
                                    (click)="removeImageshop()">x</span>
                                <img src="{{selected_image_view}}" src="" alt=""
                                    style="height: 60px;border: 2px solid gray;">
                            </div>
                        </span>
                        <ng-container *ngIf="selected_image  ==null && stepOne !=null">
                            <span *ngIf="stepOne.image  ==null" class="over-image"
                                style="display: flex;justify-content: space-between;width: 100%;"
                                (mouseout)="mouseout('over-image')"
                                ngClass="{{stepOne  !=null && selected_image==null ?'hide-image':''}}">
                                <input type="file" name="" id="image-upload" style="display: none;"
                                    accept="image/png, image/gif, image/jpeg" (change)="change_image($event)">
                                <label style="width: 50%;" for="image-upload" class="btn btn-primary"
                                    (mouseout)="mouseout('over-image')">{{id==null?'Choose':'Change'}}</label><span
                                    style="width: 50%;display: flex;text-align: center;align-items: center;justify-content: left;font-size: 12px; ">
                                    .jpg, .jpeg, .png ( Up to 5 Image)</span>
                            </span>

                        </ng-container>
                        <ng-container *ngIf="stepOne  !=null && selected_image==null ">
                            <span *ngIf="stepOne.image !=null" style="display: flex;"
                                (mouseover)="mouseover('over-image')">
                                <div style="display: block;position: relative;padding-left: 4px;">
                                    <span
                                        style="font-size: 13px;position: absolute;right: -6px;top: -10px;padding: 0px 8px;background: red;color: white;border-radius: 50%;cursor: pointer;z-index: 100;"
                                        (click)="remove_file('image')">x</span>
                                    <img src="{{stepOne.image}}" alt=""
                                        style="width: 100%;height: 50px;border: 2px solid gray;">
                                </div>
                            </span>
                        </ng-container>
                    </span>

                </div>
                <p class="error-message">
                    <span *ngIf="selected_image=='invalid'">Invalid
                        Image Format</span>
                </p>

                <div class="form-flex" style="position: relative;">
                    <label>Brochure Upload</label>
                    <span class="field_value">
                        <span *ngIf="selected_broucher  ==null && stepOne==null" class="over-image"
                            style="display: flex;justify-content: space-between;width: 100%;"
                            (mouseout)="mouseout('over-image')"
                            ngClass="{{stepOne  !=null && selected_broucher==null ?'hide-image':''}}">
                            <input type="file" name="" id="broucher-upload" style="display: none;"
                                accept=".ppt, .pptx,.pdf" (change)="change_broucher($event)">
                            <label style="width: 50%;" for="broucher-upload" class="btn btn-primary"
                                (mouseout)="mouseout('over-image')">{{id==null?'Choose':'Choose'}}</label><span
                                style="width: 50%;display: flex;text-align: center;align-items: center;justify-content: left;font-size: 12px;  ">
                                .pdf, .ppt</span>
                        </span>
                        <span *ngIf="selected_broucher_view  !=null" style="display: flex;">
                            <div style="display: block;position: relative;width: 100%;padding-left: 4px;">
                                <span
                                    style="font-size: 13px;position: absolute;right: -14px;top: -18px;padding: 0px 8px;background: red;color: white;border-radius: 50%;cursor: pointer;z-index: 100;"
                                    (click)="removebroucher()">x</span>
                                <p>{{selected_broucher_view}}</p>
                                <!-- <object [data]="selected_broucher_view" type="application/pdf">
                                    <embed [src]="selected_broucher_view" type="application/pdf" />
                                </object>
                                <iframe [src]="selected_broucher_view" frameborder="0"></iframe> -->
                            </div>
                        </span>


                        <ng-container *ngIf="selected_broucher  ==null && stepOne !=null">
                            <span class="over-image" *ngIf="stepOne.broucherName ==null"
                                style="display: flex;justify-content: space-between;width: 100%;"
                                (mouseout)="mouseout('over-image')"
                                ngClass="{{stepOne  !=null && selected_broucher==null ?'hide-image':''}}">
                                <input type="file" name="" id="broucher-upload" style="display: none;"
                                    accept=".ppt, .pptx,.pdf" (change)="change_broucher($event)">
                                <label style="width: 50%;" for="broucher-upload" class="btn btn-primary"
                                    (mouseout)="mouseout('over-image')">{{id==null?'Choose':'Choose'}}</label><span
                                    style="width: 50%;display: flex;text-align: center;align-items: center;justify-content: left;font-size: 12px;  ">
                                    .pdf, .ppt</span>
                            </span>
                        </ng-container>

                        <span *ngIf="stepOne  !=null && selected_broucher==null" style="display: flex;">
                            <div style="display: block;position: relative;padding-left: 4px;"
                                *ngIf="stepOne.broucherName !=null">
                                <span
                                    style="font-size: 13px;position: absolute;right: -14px;top: -18px;padding: 0px 8px;background: red;color: white;border-radius: 50%;cursor: pointer;z-index: 100;"
                                    (click)="remove_file('brochure')">x</span>
                                <p>{{stepOne.broucherName}}</p>
                            </div>
                        </span>
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="selected_broucher=='invalid'">Invalid
                        Brochure Format</span>
                </p>

                <div class="form-flex" style="position: relative;">
                    <label>Teaser Upload</label>
                    <span class="field_value" style="justify-content: space-between;">
                        <span *ngIf="selected_video  ==null && stepOne ==null" class="over-video"
                            style="display: flex;justify-content: space-between;width: 100%;"
                            ngClass="{{stepOne  !=null && selected_video==null ?'hide-image':''}}">
                            <input style="width: 50%;" type="file" name="" id="video-upload" style="display: none;"
                                accept="video/mp4" (change)="change_video($event)">
                            <label style="width:50%" for="video-upload" class="btn btn-primary"
                                accept="video/mp4,video/x-m4v,video/*"
                                (mouseout)="mouseout('over-image')">{{id==null?'Choose':'Change'}}</label><span
                                style=" width: 50%;display: flex;justify-content: left;text-align: center;align-items: center;padding-left: 9px;font-size: 12px; ">.mp4
                                ( Up to 40mb)</span>
                        </span>
                        <span *ngIf="selected_video  !=null" style="display: flex;" (mouseout)="mouseout('over-video')">
                            <div
                                style="display: block;position: relative;width: 106px;padding-left: 4px;background: white;">
                                <span
                                    style="font-size: 13px;position: absolute;right: 0;top: 0;padding: 0px 8px;background: red;color: white;border-radius: 50%;cursor: pointer;z-index: 100"
                                    (click)="removevideohop()">x</span>
                                <video src="{{selected_video_view}}" style="width: 100%;height: 50px"></video>
                            </div>
                        </span>

                        <ng-container *ngIf="selected_video  ==null && stepOne !=null">
                            <span *ngIf="stepOne.teaser  ==null" class="over-video"
                                style="display: flex;justify-content: space-between;width: 100%;"
                                ngClass="{{stepOne  !=null && selected_video==null ?'hide-image':''}}">
                                <input style="width: 50%;" type="file" name="" id="video-upload" style="display: none;"
                                    accept="video/mp4" (change)="change_video($event)">
                                <label style="width:50%" for="video-upload" class="btn btn-primary"
                                    accept="video/mp4,video/x-m4v,video/*"
                                    (mouseout)="mouseout('over-image')">{{id==null?'Choose':'Change'}}</label><span
                                    style=" width: 50%;display: flex;justify-content: left;text-align: center;align-items: center;padding-left: 9px;font-size: 12px; ">.mp4
                                    ( Up to 40mb)</span>
                            </span>
                        </ng-container>
                        <ng-container *ngIf="stepOne !=null && selected_video==null ">
                            <span *ngIf="stepOne.teaser !=null" style="display: flex;"
                                (mouseover)="mouseover('over-video')">
                                <div style="display: block;position: relative;padding-left: 4px;">
                                    <span
                                        style="font-size: 13px;position: absolute;right: -6px;top: -10px;padding: 0px 8px;background: red;color: white;border-radius: 50%;cursor: pointer;z-index: 100;"
                                        (click)="remove_file('teaser')">x</span>
                                    <video src="{{stepOne.teaser}}"
                                        style="width: 100%;height: 50px;border: 2px solid gray;"></video>
                                </div>
                            </span>
                        </ng-container>
                    </span>
                </div>
                <p class="error-message">
                    <span
                        *ngIf="this.selected_video_error =='Video Limit 40mb Only' || this.selected_video_error =='invalid video Format'">{{selected_video_error}}</span>
                </p>
                <div class="form-flex" *ngIf="id ==null">
                    <label>Choose Slot <sup style="color: red;">*</sup>:</label>
                    <span class="field_value">
                        <select name="slot" formControlName="slot">
                            <option [ngValue]="null" disabled>Select Slot</option>
                            <option *ngFor="let data of BookedSlots;let i = index" [value]="data._id"
                                [disabled]="data.slotExpire">
                                <span style="color:red" *ngIf="data.slotExpire">Expired - </span>
                                {{data.slotType}} - {{data.Durations}} min - {{data.slots.date}} -
                                {{data.slots.start|date:'HH:mm a'}} - {{data.slots.end | date:'HH:mm a'}}
                            </option>
                        </select>
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('slot')?.invalid">Choose Slot</span>
                </p>
                <ng-container *ngIf="selected_plan !=null ">
                    <div class="form-flex"
                        *ngIf="postRequest.get('planId')?.valid && selected_plan.transaction=='With Transaction'">
                        <label>Transaction <sup style="color: red;">*</sup>:</label>
                        <span class="field_value">
                            <select name="transaction" formControlName="transaction">
                                <option [ngValue]="null" disabled selected>Select Transaction</option>
                                <option value="With Transaction">With Transaction</option>
                                <option value="Without Transaction">Without Transaction</option>
                            </select>
                        </span>
                    </div>
                </ng-container>
                <div class="form-flex">
                    <label>Location <sup style="color: red;">*</sup>:</label>
                    <span class="field_value">
                        <input type="text" name="Location" id="" formControlName="Location"
                            placeholder="Enter Your Location">
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('Location')?.invalid">Enter Location</span>
                </p>
                <!-- <div class="form-flex" style="margin-top: 20px;">
                    <label>Chat Needed :</label>
                    <span class="field_value">
                        <div>
                            <input type="radio" id="html" name="chat_need" value="yes" formControlName="chat_need">
                            <label for="html">Yes</label>
                        </div>
                        <div>
                            <input type="radio" id="css" name="chat_need" value="no" formControlName="chat_need">
                            <label for="css">No</label>
                        </div>
                    </span>

                </div> -->
                <div class="form-flex" style="position: relative;">
                    <label>Description <sup style="color: red;">*</sup>:</label>
                    <span class="field_value">
                        <textarea name="" id="" cols="30" rows="10" formControlName="discription"
                            (paste)="onPaste($event,$event)" (change)="maxlengths($event, 250)"
                            (keypress)="maxlengths($event, 250)"></textarea>
                        <span
                            style="text-align: right;float: right; font-weight: bold;position: absolute;bottom: -10px;right: 0;width: auto;">{{postRequest.get('discription')?.valid?postRequest.get('discription')?.value.length
                            < 250?postRequest.get('discription')?.value.length:250:0}}/250</span>
                        </span>
                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('discription')?.invalid">Enter Description</span>
                </p>
            </div>
            <div class="btn mt-3">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>



<div class="modal fade mt-4" id="preview-form" style="margin-top: 5.5rem!important;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title">Are you sure Yes/No?</h4> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Plan Name</td>
                            <td>:</td>
                            <td *ngIf="postRequest.get('planId')?.value !=null">
                                {{preview_details(postRequest.get('planId')?.value,'plan')}}</td>
                        </tr>
                        <tr>
                            <td>Stream Name</td>
                            <td>:</td>
                            <td>{{postRequest.get('streamName')?.value}}</td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>:</td>
                            <td>{{postRequest.get('Location')?.value}}</td>
                        </tr>
                        <tr>
                            <td>Slot</td>
                            <td>:</td>
                            <td *ngIf="postRequest.get('slot')?.value !=null">
                                {{preview_details(postRequest.get('slot')?.value,'slot').slotType}} -
                                {{preview_details(postRequest.get('slot')?.value,'slot').Durations}} min -
                                {{preview_details(postRequest.get('slot')?.value,'slot').slots.date}} -
                                {{preview_details(postRequest.get('slot')?.value,'slot').slots.start|date:'HH:mm a'}} -
                                {{preview_details(postRequest.get('slot')?.value,'slot').slots.end | date:'HH:mm a'}}
                                <!-- {{preview_details(postRequest.get('slot')?.value,'slot')|json}}</td> -->
                        </tr>
                        <tr>
                            <td>Transaction</td>
                            <td>:</td>
                            <td>{{postRequest.get('transaction')?.value}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>:</td>
                            <td><span style="overflow-wrap: anywhere;">{{postRequest.get('discription')?.value}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Post</td>
                            <td>:</td>
                            <td>
                                <span *ngIf="postRequest.get('post')?.valid">
                                    <p *ngFor="let item of postRequest.get('post')?.value; index as i">
                                        <b> {{i+1}}</b> - {{get_streamTitle(item)}}
                                    </p>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Primary Communication</td>
                            <td>:</td>
                            <td>{{postRequest.get('primarycommunication')?.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="create_stream_request()">Submit</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>