.show_select_post {
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* margin-top: 10px;
    overflow: auto;
    white-space: nowrap; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    background: white;
    border-radius: 50px;
    width: 100%;
    min-height: 50px;
  
  }
  
  .show_select_post .field_value {
    width:100%;
  
  }
  
  .show_select_post p {
    margin-bottom: 0;
    margin-left: 10px;
    padding: 5px 10px;
    background: #80808066;
    border-radius: 7px;
    color: white;
    display: inline-block;
    margin-top: 5px;
  }
  
  .main-title-center span {
    color: rgba(1, 148, 68, 1);
  }
  
  .form-container {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    /* background-color: rgba(215, 230, 222, 1); */
    border-radius: 20px;
    padding-bottom: 30px;
    padding: 10px;
  }
  
  .forms {
    max-width: 700px;
    margin: auto;
    /* padding-top: 30px; */
  }
  
  .forms .form-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .forms div input[type="text"] {
    /* width: 413px; */
    height: 48px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    margin-top: 11px;
  }
  
  .dropdown-menu {
    width: 413px;
  }
  
  .forms div select {
    width: 413px;
    height: 48px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    cursor: pointer;
    margin-top: 11px;
    font-size: 12px;
  }
  
  .forms div textarea {
    width: 444px !important;
    height: 48px;
    border: none;
    /* border-radius: 50px; */
    padding-left: 20px;
    cursor: pointer;
    margin-top: 11px;
    margin-bottom: 11px;
    border-radius: 13px;
  }
  
  .forms div label {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 12px;
  }
  
  .over-video {
    /* margin-right: 205px;
    width: 198px; */
  }
  
  .over-video label {
    height: 44px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    background-color: white !important;
    border: none;
    color: black;
  }
  
  .over-image {
    /* margin-right: 121px; */
    /* width: 284px; */
  }
  
  .over-image label {
    height: 44px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    background-color: white !important;
    border: none;
    color: black;
  }
  
  .form-radio div {
    display: flex;
    justify-content: center;
  }
  
  .over-broucher {
    margin-right: -28px;
    width: 188px;
  }
  
  .over-broucher label {
    height: 44px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    background-color: white !important;
    border: none;
    color: black;
  }
  
  .btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .btn button {
    width: 200px;
    height: 40px;
    border: none;
    background-color: rgba(1, 148, 68, 1);
    border-radius: 50px;
    color: white;
  }
  
  .error-message {
    color: red;
  }
  
  .choose-file {
    display: flex;
    align-items: flex-end;
  }
  
  .choose-file p {
    font-size: 12px;
    margin-left: 15px;
  }
  
  .choose-file label {
    padding: 7px 30px;
    width: 150px !important;
    background: #878787;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  
  .upload-files div {
    box-shadow: none !important;
  }
  
  .uploaded-images {
    display: flex;
    width: 100% !important;
    justify-content: flex-end;
    margin-left: 40% !important;
    margin-top: 20px !important;
  }
  
  .uploaded-images .image {
    max-width: 80px;
    position: relative;
    margin: 0 7px;
  }
  
  .uploaded-images .image img,
  video {
    width: 100%;
    height: 66px !important;
  }
  
  .remove-image {
    position: absolute;
    top: -7px;
    right: -7px;
    cursor: pointer;
  }
  
  .dropdown-menu a {
    display: flex;
    width: 100%;
    justify-content: normal;
    height: 39px;
    border-bottom: 1px solid;
  }
  
  
  .form-flex .field_value {
    width: 60%;
    display: flex;
    align-items: center;
  }
  
  .form-flex .field_value input[type="text"],
  .form-flex .field_value select,
  .form-flex .field_value textarea,
  .form-flex .field_value .dropdown {
    width: 100%;
  }
  
  .form-flex .field_value input[type="radio"] {
    margin-right: 5px;
  }
  
  .form-flex .field_value label {
    margin-right: 20px;
  }
  
  .form-flex .field_value .dropdown-item {
    display: flex;
    align-items: center;
  }
  
  .form-flex .field_value .dropdown-item {
    padding: 0;
  }
  
  .form-flex .field_value .dropdown-item label {
    width: 100%;
    cursor: pointer;
    padding: 10px 20px;
  
  }
  
  .form-flex .field_value .dropdown ul {
    max-height: 400px;
    overflow: auto;
  }
  
  .form-flex .field_value .dropdown-item label input {
    margin-right: 10px;
  }


.field_value input ,.field_value select ,.over-image label ,.over-video label ,.field_value textarea ,.show_select_post{
  box-shadow: 0 0px 7px -1px #8080806e;
}