<nav>
    <div class="back">
        <backbutton></backbutton>

    </div>
    <h1 class="welcome">Stream Request</h1>
    <div class="back" style="visibility: hidden;">
        <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.6359 7.5L10 13.3336L8.18205 15L0 7.5L8.18205 0L10 1.6664L3.6359 7.5Z" fill="var(--green)" />
        </svg>

    </div>
</nav>


<div class="page-container post-form">
    <form [formGroup]="postRequest" (submit)="create_stream_request()">
        <div class="form-container">
            <div class="forms">
                <div class="form-flex" *ngIf="id ==null">
                    <label>Choose Plan :</label>
                    <span class="field_value">
                        <select name="planId" formControlName="planId" (change)="change_plan($event)">
                            <option [ngValue]="null" disabled selected>Select Plan</option>
                            <option *ngFor="let plan of planes; let i = index" [value]="plan._id">{{plan.planName}}
                            </option>
                        </select>
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('planId')?.invalid">Choose Plan</span>
                </p>
                <div class="form-flex">
                    <label>Stream Name :</label>
                    <span class="field_value">
                        <input type="text" name="streamName" id="" formControlName="streamName"
                            placeholder="Enter Stream Name">
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('streamName')?.invalid">Enter Stream Name</span>
                </p>
                <div class="form-flex">
                    <label>Choose Post :</label>
                    <span class="field_value">
                        <div class="dropdown" onclick="event.stopPropagation()">
                            <div type="text" data-bs-toggle="dropdown" aria-expanded="false" placeholder="Select Post">
                                <div class="show_select_post">
                                    <span style="display: flex;align-items: center;margin-left: 19px;"
                                        *ngIf="postRequest.get('post')?.invalid && id==null">Select Post</span>
                                    <span class="field_values" style="max-width: 90%;margin: auto;padding: 10px 0px;">
                                        <p *ngFor="let item of postRequest.get('post')?.value">
                                            {{show_selected_post(item,post_list)}}</p>
                                        <ng-container *ngIf="stepOne !=null">
                                            <p style="background-color: #938a8a;"
                                                *ngFor="let item of stepOne.streamrequestposts">
                                                {{show_selected_post(item._id,stepOne.streamrequestposts)}}</p>
                                        </ng-container>
                                    </span>
                                </div>
                            </div>
                            <ul class="dropdown-menu">
                                <li *ngFor="let data of post_list; let i = index" id="check" class="dropdown-item">
                                    <label [for]="data._id"><input type="checkbox" (change)="change_post($event)"
                                            value="{{data._id}}" [id]="data._id" />
                                        <span>{{data.productName}}</span></label>
                                </li>
                            </ul>
                        </div>
                    </span>

                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('post')?.invalid">Select Post</span>
                </p>
                <div class="form-flex">
                    <label>Primary Language :</label>
                    <span class="field_value">
                        <select name="primarycommunication" formControlName="primarycommunication">
                            <option [ngValue]="null" disabled selected>Select Language</option>
                            <option value="Tamil">Tamil</option>
                            <option value="English">English</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Telugu">Telugu</option>
                        </select>
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('primarycommunication')?.invalid">Select Language</span>
                </p>
                <div class="form-flex" style="position: relative;">
                    <label style="display: block;text-align: left;">Images Upload <br>
                        <span
                            style="display: flex;text-align: center;align-items: center;justify-content: left;font-size: 11px;">
                            (jpg, jpeg, png)</span>
                    </label>
                    <span class="field_value">
                        <span *ngIf="selected_image  ==null" class="over-image" style="display: flex;"
                            (mouseout)="mouseout('over-image')"
                            ngClass="{{stepOne  !=null && selected_image==null ?'hide-image':''}}">
                            <input type="file" name="" id="image-upload" style="display: none;"
                                accept="image/png, image/gif, image/jpeg" (change)="change_image($event)">
                            <label for="image-upload" class="btn btn-primary"
                                (mouseout)="mouseout('over-image')">Choose</label>
                        </span>
                        <span *ngIf="selected_image  !=null" style="display: flex;">
                            <div style="display: block;position: relative;width: 20%;padding-left: 4px;">
                                <span
                                    style="font-size: 13px;position: absolute;right: 0;top: 0;padding: 0px 8px;background: red;color: white;border-radius: 50%;cursor: pointer;z-index: 100"
                                    (click)="removeImageshop()">x</span>
                                <img src="{{selected_image_view}}" src="" alt=""
                                    style="height: 60px;border: 2px solid gray;">
                            </div>
                        </span>
                        <span *ngIf="stepOne  !=null && selected_image==null" style="display: flex;"
                            (mouseover)="mouseover('over-image')">
                            <div style="display: block;position: relative;padding-left: 4px;">
                                <img src="{{baseURL+'/'+stepOne.image}}" alt=""
                                    style="width: 100%;height: 50px;border: 2px solid gray;">
                            </div>
                        </span>
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="selected_image=='invalid'|| submited && selected_image==null && id ==null">Invalid
                        Image</span>
                </p>
                <div class="form-flex" style="position: relative;">
                    <label style="display: block;text-align: left;">
                        Teaser Upload
                        <span
                            style="display: flex;text-align: center;align-items: center;justify-content: left;font-size: 11px;">
                            (mp4)</span>
                    </label>
                    <span class="field_value" style="justify-content: space-between;">
                        <span *ngIf="selected_video  ==null" class="over-video" style="display: flex;"
                            ngClass="{{stepOne  !=null && selected_video==null ?'hide-image':''}}">
                            <input type="file" name="" id="video-upload" style="display: none;" accept="video/mp4"
                                (change)="change_video($event)">
                            <label for="video-upload" class="btn btn-primary" accept="video/mp4,video/x-m4v,video/*"
                                (mouseout)="mouseout('over-image')">Choose</label>
                        </span>
                        <span *ngIf="selected_video  !=null" style="display: flex;" (mouseout)="mouseout('over-video')">
                            <div
                                style="display: block;position: relative;width: 106px;padding-left: 4px;background: white;">
                                <span
                                    style="font-size: 13px;position: absolute;right: 0;top: 0;padding: 0px 8px;background: red;color: white;border-radius: 50%;cursor: pointer;z-index: 100"
                                    (click)="removevideohop()">x</span>
                                <video src="{{selected_video_view}}" style="width: 100%;height: 50px"></video>
                            </div>
                        </span>
                        <span *ngIf="stepOne  !=null && selected_video==null" style="display: flex;"
                            (mouseover)="mouseover('over-video')">
                            <div style="display: block;position: relative;padding-left: 4px;">
                                <video src="{{stepOne.teaser}}"
                                    style="width: 100%;height: 50px;border: 2px solid gray;"></video>
                            </div>
                        </span>
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="selected_video=='invalid' || submited && selected_video==null && id ==null">Invalid
                        Video</span>
                </p>
                <div class="form-flex" *ngIf="id ==null">
                    <label>Choose Slot :</label>
                    <span class="field_value">
                        <select name="slot" formControlName="slot">
                            <option [ngValue]="null" disabled>Select Slot</option>
                            <option *ngFor="let data of BookedSlots;let i = index" [value]="data.slots._id">
                                {{data.slotType}} - {{data.Durations}} min - {{data.slots.date}} -
                                {{data.slots.start|date:'HH:mm a'}} - {{data.slots.end | date:'HH:mm a'}}
                            </option>
                        </select>
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('slot')?.invalid">Choose Slot</span>
                </p>

                <div class="form-flex" style="margin-top: 20px;">
                    <label>Location :</label>
                    <span class="field_value">
                        <input type="text" name="Location" id="" formControlName="Location"
                            placeholder="Enter Your Location">
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('Location')?.invalid">Enter Location</span>
                </p>
                <div class="form-flex" style="margin-top: 20px;">
                    <label>Chat Needed :</label>
                    <span class="field_value">
                        <div>
                            <input type="radio" id="html" name="chat_need" value="yes" formControlName="chat_need">
                            <label for="html">Yes</label>
                        </div>
                        <div>
                            <input type="radio" id="css" name="chat_need" value="no" formControlName="chat_need">
                            <label for="css">No</label>
                        </div>
                    </span>

                </div>

                <div class="form-flex" style="position: relative;">
                    <label>Description</label>
                    <span class="field_value">
                        <textarea name="" id="" cols="30" rows="10" formControlName="discription"
                            (keypress)="maxlengths($event, 250)" (paste)="(false)"></textarea>
                        <span
                            style="text-align: right;float: right; font-weight: bold;position: absolute;bottom: -20px;right: 0;width: auto;">{{postRequest.get('discription')?.valid?postRequest.get('discription')?.value.length:0}}/250</span>
                    </span>
                </div>
                <p class="error-message">
                    <span *ngIf="submited  && postRequest.get('discription')?.invalid">Enter Description</span>
                </p>
            </div>
            <div class="btn">
                <button type="button">Submit</button>
            </div>
        </div>
    </form>
</div>


<div class="modal fade mt-4" id="preview-form" style="margin-top: 5.5rem!important;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title">Are you sure Yes/No?</h4> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Stream Name</td>
                            <td>:</td>
                            <td>{{postRequest.get('streamName')?.value}}</td>
                        </tr>
                        <tr>
                            <td>Streaming Date</td>
                            <td>:</td>
                            <td>{{postRequest.get('streamingDate')?.value}}</td>
                        </tr>
                        <tr>
                            <td>Streaming Time</td>
                            <td>:</td>
                            <td>{{getTime(postRequest.get('streamingTime')?.value)}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>:</td>
                            <td><span style="overflow-wrap: anywhere;">{{postRequest.get('discription')?.value}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Post</td>
                            <td>:</td>
                            <td>
                                <span *ngIf="postRequest.get('post')?.valid">
                                    <p *ngFor="let item of postRequest.get('post')?.value; index as i">
                                        <b> {{i+1}}</b> - {{get_streamTitle(item)}}
                                    </p>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Primary Communication</td>
                            <td>:</td>
                            <td>{{postRequest.get('primarycommunication')?.value}}</td>
                        </tr>

                        <tr>
                            <td>Secondary Communication</td>
                            <td>:</td>
                            <td>{{postRequest.get('secondarycommunication')?.value}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="create_stream_request()">Yes</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                </div>
            </div>


        </div>
    </div>
</div>