.draggable {
    width: 100px;
    position: fixed;
    cursor: grab;
    z-index: 1000000000000;
    bottom: 0;
    right: 0;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px #8080805c;
    background: white;
    max-height: 90%;
    overflow: auto;
    padding: 0;
    margin: -0;
    width: 100%;
    left: 0;

}

.allow-to-raice-hands {
    padding: 50px 20px;
}

.close-icon {
    z-index: 1000000;
    /* position: absolute; */
    right: 0;
    top: 0;
    /* float: right; */
}

.close-icon button {
    padding: 4px 9px;
    border: none;
    border-radius: 0 10px 0 0;
    color: red;
    font-weight: bold;
}

.choose-option {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #808080bf;
    z-index: 1000000000;
}

.btn-groups {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-groups button {
    margin-right: 10px;
    margin-top: 20px;
}

.allow-user-list{
    padding: 0 14px;
    min-height: 350px;
}

.allow-user-list h6{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    padding: 14px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


.reject-button{
    color: #019444;
}


.accept-button{

    background: #019444;
    color: white;
}



.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 67px;
    height: 26px;
    padding: 3px;
    /* margin: 0 10px 10px 0; */
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px -1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing: content-box;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
}

.switch-label:before,
.switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing: content-box;
}

.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.switch-input:checked~.switch-label {
    background: #019444;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked~.switch-label:before {
    opacity: 0;
}

.switch-input:checked~.switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 5px;
    left: 4px;
    width: 21px;
    height: 21px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked~.switch-handle {
    left: 46px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label,
.switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

.show-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}