<div class="main">
    <header>
        <new-header></new-header>
    </header>
    <!-- <div class="welcome-content">
            <h1 class="welcome">Forgot Password</h1>
        </div> -->
    <div class="welcome-content" style="margin-top: 30px;">
        <h1 class="welcome" *ngIf="!cr">Forgot Password</h1>
        <h1 class="welcome" *ngIf="cr">Enter Mobile Number</h1>
    </div>
    <form (submit)="forget_password()" [formGroup]="forgetPassword">
        <div class="form">
            <div class="form-row">
                <label for="Mobile-Number">Mobile Number : </label>
                <input type="number"
                    onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" name=""
                    id="Mobile-Number" placeholder="Enter Mobile Number" formControlName="mobileNumber">
            </div>
            <div class="form-error">
                <label *ngIf="submitted && forgetPassword.get('mobileNumber')?.invalid" style="text-align: right;">Enter
                    Valid Mobile Number
                    !</label>
            </div>
            <div class="form-submit">
                <label for="" *ngIf="errorMessage !=null"
                    style="color: red; text-align: right;">{{errorMessage}}</label>
                <div class="button">
                    <button type="submit" class="green-btn ">Send OTP</button>
                </div>
            </div>
        </div>
    </form>


</div>