.forgot-box {
    max-width: 540px;
    margin: auto;
    margin-top: 100px;

}

.title {
    margin-bottom: 30px;
}

.form-title {
    font-family: 'Barlow';
    font-style: normal;
    color: var(--green);
    font-size: 30px;
    line-height: 58px;
    font-weight: 700;
    margin: 0;
}

.sub-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.setpassword-box {
    max-width: 540px;
    margin: auto;
    margin-top: 100px;

}

.title {
    margin-bottom: 30px;
}

.form-title {
    font-family: 'Barlow';
    font-style: normal;
    color: var(--green);
    font-size: 30px;
    line-height: 58px;
    font-weight: 700;
    margin: 0;
}

.sub-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.change-user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.change-user svg {
    margin-left: 10px;
}

.btn {
    display: flex !important;
    justify-content: center !important;
    flex-direction: row;
}

.or {
    display: flex;
    align-items: center;
    justify-content: center;
}

.or h1 {
    margin: 0 10px;
}

.line {
    height: 2px;
    width: 35%;
    background-color: black;
}

.authendication {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.google-login-btn,
.fb-login-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 15px;
    padding: 5px 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
}

.google-login-btn img,
.fb-login-btn img {
    margin-right: 5px;
}

.sign-up {
    margin-top: 150px;
    text-align: center;
}

.sign-up span {
    color: var(--green);
    font-weight: 700;
}