<nav>
    <div class="back">
        <backbutton></backbutton>

    </div>
    <h1 class="welcome">Plans</h1>
    <div class="back" >
       <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">Bank Details</button>
    </div>
</nav>
<div class="main-container">
    <div class="row" style="margin-top: 10px;">
        <div class="col" *ngFor="let v of allPlans">
            <div class="content">
            <div class="card">
                <div class="card-body title-card">
                    <h2 style="color: var(--green);text-transform: capitalize;">{{v.planName}}</h2>
                    
                   
                </div>
              </div>
            <div class="card" *ngIf="v.planName =='Diamond'">
                <div class="card-body">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.33333 9.66667L8.33333 11.6667L11.6667 7M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                    Exclusive streaming slots
                </div>
              </div>
            <div class="card">
                <div class="card-body">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.33333 9.66667L8.33333 11.6667L11.6667 7M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                    Up to {{v.numberOfParticipants}} Participants
                </div>
              </div>
            <div class="card" *ngIf="v.planName =='Diamond'">
                <div class="card-body">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.33333 9.66667L8.33333 11.6667L11.6667 7M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                    E-commerce transaction
                </div>
              </div>
            <div class="card">
                <div class="card-body">
                   
                        
                   <p *ngIf="v.no_of_host==1">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.33333 9.66667L8.33333 11.6667L11.6667 7M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    Single Host</p>
                   <p *ngIf="v.no_of_host==2">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.33333 9.66667L8.33333 11.6667L11.6667 7M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    Double Host</p>
                </div>
              </div>
            <div class="card" *ngIf="v.planName =='Diamond'">
                <div class="card-body">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.33333 9.66667L8.33333 11.6667L11.6667 7M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                    Exclusive marketing to visitor 
                </div>
              </div>
            <div class="card">
                <div class="card-body">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.33333 9.66667L8.33333 11.6667L11.6667 7M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                    Upto {{v.PostCount}} products/stream
                </div>
              </div>
            <div class="card">
                <div class="card-body">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.33333 9.66667L8.33333 11.6667L11.6667 7M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                    {{liveStream(v.slotInfo)}} live streams 
                </div>
              </div>
            <div class="card">
                <div class="card-body">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.33333 9.66667L8.33333 11.6667L11.6667 7M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                    {{totalmin(v.slotInfo)}}hours of interaction
                </div>
              </div>
            <div class="card" *ngIf="v.chat_Option=='yes'">
                <div class="card-body">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.33333 9.66667L8.33333 11.6667L11.6667 7M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                    Chat option
                </div>
              </div>
            <div class="card">
                <div class="card-body">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.33333 9.66667L8.33333 11.6667L11.6667 7M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z" stroke="#232323" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                    Recorded streams {{v.completedStream}}
                </div>
              </div>
        </div>
        <div class="card">
            <div class="card-body">
        <div class="last">
            <div >
                <label><p>₹{{v.Price}}<span style="font-size: 12px;">+GST</span></p></label>
            </div>
           
            <div >
                <button class="wish" (click)="view_plan(v)"  data-bs-toggle="modal" data-bs-target="#viewplans" > Wish to buy!</button>
           </div>
        </div>
            </div>
        </div>
        </div>

        
      </div>
   
    
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" style="display:flex; justify-content: center;">
          <h5 class="modal-title" id="exampleModalLabel" style="color:#019444; ">RTGS/NEFT Details</h5>
        </div>
        <div class="modal-body">
            <div class="form">
                <div class="data">
                    <label>Name</label>
                    <p>Ookam Technology Services Private Limited</p>
                </div>
                <div class="data">
                    <label>Bank </label>
                    <p>ICICI Bank Ltd</p>
                </div>
                <div class="data">
                    <label>A/C No</label>
                    <p>787905000040</p>
                </div>
                <div class="data">
                    <label>Bank address</label>
                    <p>ICICI BANK LTD., GEORGE SQUARE, NO. 102/234, TTK ROAD, ALWARPET, CHENNAI - 600018</p>
                </div>
                <div class="data">
                    <label>RTGS</label>
                    <p>ICIC0007879</p>
                </div>
                <div class="data">
                    <label>MICR Code</label>
                    <p>600229160</p>
                </div>
                <div class="data">
                    <label>Purpose</label>
                    <p>Towards participation charges in AGRI EXPO LIVE 2023, Chennai</p>
                </div>
                <div class="data">
                    <label>PAN No</label>
                    <p>AAECO0517F</p>
                </div>
                
            </div>
        </div>
        <div class="modal-footer">
        <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="viewplans"   tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content" >
            <div class="modal-header">
                <h3 style="width: 100%;text-align: center;">{{viewPlans.planName}}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Plan Name</td>
                            <td>:</td>
                            <td>{{viewPlans.planName}}</td>
                        </tr>
                        <tr>
                            <td>Host Per Stream</td>
                            <td>:</td>
                            <td>{{viewPlans.no_of_host}}</td>
                        </tr>
                        <tr>
                            <td>Participants Limit</td>
                            <td>:</td>
                            <td>{{viewPlans.numberOfParticipants}}</td>
                        </tr>
                        <tr >
                            <td>Commision</td>
                            <td>:</td>
                            <td> {{viewPlans.salesCommission}}</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>:</td>
                            <td>{{viewPlans.Price}}</td>
                        </tr>
                        <tr>
                            <td>Slots</td>
                            <td>:</td>
                            <td >
                                <ol>
                                    <li *ngFor="let v of viewPlans.slotInfo ">  
                                        {{v.slotType}} {{v.Duration}}mins -- {{v.No_Of_Slot}}</li>
                                </ol>
                            </td>  
                        </tr>
                        <tr>
                            <td>Stream Videos Download</td>
                            <td>:</td>
                            <td>{{viewPlans.StreamVideos}}</td>
                        </tr>
                        <tr>
                            <td>Completed Stream</td>
                            <td>:</td>
                            <td>{{viewPlans.completedStream}}</td>
                        </tr>
                        <tr>
                            <td>Transtraction</td>
                            <td>:</td>
                            <td>{{viewPlans.Transtraction}}</td>
                        </tr>
                        <tr>
                            <td>Teaser</td>
                            <td>:</td>
                            <td>{{viewPlans.Teaser}}</td>
                        </tr>
                        <tr >
                            <td>Pdf</td>
                            <td>:</td>
                            <td>{{viewPlans.Pdf}}</td>
                        </tr>
                        <tr >
                            <td>Description</td>
                            <td>:</td>
                            <td>{{viewPlans.Pdf}}</td>
                        </tr>
                        <tr >
                            <td>Chat Needed</td>
                            <td>:</td>
                            <td>{{viewPlans.chat_Option}}</td>
                        </tr>
                        <tr>
                            <td>Image</td>
                            <td>:</td>
                            <td>{{viewPlans.image}}</td>
                        </tr>
                        <tr>
                            <td>Advertisement Display</td>
                            <td>:</td>
                            <td>{{viewPlans.Advertisement_Display}}</td>
                        </tr>
                        <tr>
                            <td>Special Notification</td>
                            <td>:</td>
                            <td>{{viewPlans.Special_Notification}}</td>
                        </tr>
                       
                        <tr>
                            <td>Raise Hands</td>
                            <td>:</td>
                            <td>{{viewPlans.RaiseHands}}</td>
                        </tr>
                    
                    </tbody>
                </table>
                <div style="display: flex;justify-content: center;">
                  <h4>Press confirm to fix this plan!</h4>
                </div>
             
            </div>
            <div class="modal-footer" style="display: flex;justify-content: center;">
                <button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal" (click)="buyplan()" #close>Confirm</button>
            </div>
        </div>
    </div>
</div>