<div class="main">
    <header>
        <new-header></new-header>
        <div class="change-user">

        </div>

    </header>


    <div class="welcome-content" style="margin-top: 30px;">
        <h1 class="welcome">Exhibitor Login!</h1>
    </div>
    <form (submit)="register_now()" [formGroup]="Login">
        <div class="form">
            <div>
                <label for="mobile-number">Mobile Number :</label>
                <input type="tel"
                    onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" name=""
                    id="mobile-number" placeholder="Enter Mobile Number" formControlName="mobile">
            </div>
            <div class="form-error">
                <label *ngIf="submitted && Login.get('mobile')?.invalid">Enter a valid number !</label>
            </div>
            <div>
                <label for="password">Password :</label>
                <input type="password" name="" id="password" placeholder="Password" formControlName="password">
                <div class="form-forgot"> 
                    <a  [routerLink]="['/forgot']">Forget Passowrd !</a>
                    <a   [routerLink]="['/forgot']" (click)="continue()" >Continue Registering !</a>
                </div>
             
            </div>
            <div class="form-error">
                <label *ngIf="submitted  && Login.get('password')?.invalid ">Invalid Password !</label>
            </div>
            <label for="" class="form-error" *ngIf="errorMessage !=null">{{errorMessage}}</label>

            <div class="login-btn btn">
                <button class="normal-btn" [routerLink]="['/register']" type="button"> Sign Up</button>
                <button class="green-btn ">Log In</button>
            </div>
        </div>

    </form>


</div>