header {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    /* padding: 5px; */
}

.change-user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.change-user svg {
    margin-left: 10px;
}

.btn {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row;
    padding: 0;

}

.or {
    display: flex;
    align-items: center;
    justify-content: center;
}

.or h1 {
    margin: 0 10px;
}

.line {
    height: 2px;
    width: 35%;
    background-color: black;
}

.authendication {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.google-login-btn,
.fb-login-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 15px;
    padding: 5px 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
}

.normal-btn {
    background-color: white;
    border: none;
    color: var(--green);
    box-shadow: 0 0 1px 1px #0094457a;
    font-weight: bold;
}

.google-login-btn img,
.fb-login-btn img {
    margin-right: 5px;
}


.sign-up {
    margin-top: 150px;
    text-align: center;
}

.sign-up span {
    color: var(--green);
    font-weight: 700;
}
form{
    max-width: 500px;
    margin: auto;
    padding: 0 10px;
}
.welcome{
    text-align: center;
    font-weight: bold;
}


.login-btn button {
    /* margin: 10px; */
    width: 49%;
    border-radius: 2px;


}