<div class="main">
    <nav>
        <div class="back">
            <backbutton></backbutton>

        </div>
        <h1 class="welcome">Create Post</h1>
        <div class="back" style="visibility: hidden;">
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.6359 7.5L10 13.3336L8.18205 15L0 7.5L8.18205 0L10 1.6664L3.6359 7.5Z" fill="var(--green)" />
            </svg>
        </div>
    </nav>
    <form [formGroup]="postForm" (submit)="create_post()">
        <div class="form" style="padding-top: 20px;margin-top: 0!important;">
            <div>
                <label>Select Category :</label>
                <select [ngClass]="postForm.get('categoryId')?.valid?'':'not-selected'" (change)="change_cate($event)"
                    formControlName="categoryId"
                    style="height: 40px; border: none;box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);">
                    <option disabled selected hidden [ngValue]="null">Select Category</option>
                    <option *ngFor="let item of category_list" value="{{item.id}}">
                        {{item.categoryName}}</option>
                </select>
            </div>
            <div class="error-message">
                <p *ngIf="submited && postForm.get('categoryId').invalid">
                    <span> Category</span>
                </p>
            </div>
            <div>
                <label> Product :</label>
                <select name="" id="" formControlName="productId"
                    [ngClass]="postForm.get('categoryId')?.valid?'':'not-selected'"
                    style="height: 40px; border: none;box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);">
                    <option [ngValue]="null" disabled selected hidden>Select Product
                    </option>
                    <ng-container *ngIf="productList !=null">

                        <option style="text-transform:capitalize;" *ngFor="let item of productList" value="{{item.id}}">
                            {{item.productTitle}}</option>
                    </ng-container>
                </select>
            </div>
            <div class="error-message">
                <p *ngIf="submited && postForm.get('productId').invalid">
                    <span> Product</span>
                </p>
            </div>
            <div class="product-not-found" *ngIf="ProductNotFound">
                <p (click)="enablePopup()">Product Not Found ?</p>
            </div>
            <div>
                <label> Unit :</label>
                <select formControlName="unit" [ngClass]="postForm.get('categoryId')?.valid?'':'not-selected'"
                    style="height: 40px; border: none;box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);">
                    <option [value]="null" disabled hidden>Choose Unit</option>
                    <option value="kg">KG</option>
                    <option value="pc">PC</option>
                </select>
            </div>
            <div class="error-message">
                <p *ngIf="submited && postForm.get('unit').invalid">
                    <span>Choose Unit</span>
                </p>
            </div>
            <div class="quantity">
                <label>Quantity :</label>
                <div>
                    <input type="text" placeholder="Enter Quantity"
                        onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                        formControlName="quantity" (keyup)="qtyChange($event)">
                    <!-- <select>
                        <option value="kg">KG</option>
                        <option value="pc">PC</option>
                    </select> -->
                </div>
            </div>

            <div class="error-message">
                <p *ngIf="submited && postForm.get('quantity').invalid">
                    <span>Enter Quantity</span>
                </p>
            </div>
            <!-- <div>
                <label>Location :</label>
                <input type="text" placeholder="Enter Location" formControlName="location">
            </div>
            <div class="error-message">
                <p *ngIf="submited && postForm.get('location').invalid">
                    <span>Enter Location</span>
                </p>
            </div> -->
            <!-- <div>
                <label>Description :</label>
                <textarea placeholder="Enter description" formControlName="discription"
                    (keypress)="maxlengths($event, 250)" (paste)="(false)"></textarea>
            </div>
            <div class="error-message">
                <p *ngIf="submited && postForm.get('discription').invalid">
                    <span>Enter Description</span>
                </p>
            </div>
            <h4>During Live Stream</h4> -->

            <div class="quantity">
                <label>Market Price :</label>
                <div>
                    <input type="number" placeholder="₹ Enter Market Price"
                        onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                        formControlName="marketPlace">
                    <!-- <select>
                        <option value="kg">KG</option>
                        <option value="pc">PC</option>
                    </select> -->
                </div>
            </div>
            <div class="error-message">
                <p *ngIf="submited && postForm.get('marketPlace').invalid">
                    <span>Enter Market Price</span>
                </p>
            </div>
            <div class="quantity">
                <label>Offer Price :</label>
                <div>
                    <input type="text" placeholder="₹ Enter Offer Price"
                        onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                        formControlName="offerPrice">
                    <!-- <select>
                        <option value="kg">KG</option>
                        <option value="pc">PC</option>
                    </select> -->
                </div>
            </div>
            <div class="error-message">
                <p *ngIf="submited && postForm.get('offerPrice').invalid">
                    <span>Enter Offer Price</span>
                </p>
            </div>
            <div class="booking-amount ">
                <label>Booking Amount :</label>
                <div class="radio-button">
                    <span>
                        <input name="bookingAmount" id="bookingAmount" value="yes" type="radio"
                            formControlName="bookingAmount">
                        <label for="bookingAmount">Yes</label>
                    </span>
                    <span style="margin-left: 30px;">
                        <input id="bookingAmount_no" name="bookingAmount" value="no" type="radio"
                            formControlName="bookingAmount">
                        <label for="bookingAmount_no">No</label>
                    </span>

                </div>
            </div>
            <div class="error-message">
                <p *ngIf="submited && postForm.get('bookingAmount').invalid">
                    <span>Choose Booking Amount</span>
                </p>
            </div>
            <div class="booking-amount">
                <label>Do you wish to sell after live streaming :</label>
                <div class="radio-button">
                    <span>
                        <input type="radio" name="afterStreaming" value="yes" id="afterStreaming"
                            formControlName="afterStreaming" (change)="afterStreaming($event)">
                        <label for="afterStreaming">Yes</label>
                    </span>
                    <span style="margin-left: 30px;">
                        <input type="radio" name="afterStreaming" id="afterStreaming_no" value="no"
                            formControlName="afterStreaming" (change)="afterStreaming($event)">
                        <label for="afterStreaming_no">No</label>
                    </span>

                </div>
            </div>
            <div class="error-message">
                <p *ngIf="submited && postForm.get('afterStreaming').invalid">
                    <span>Choose after live streaming</span>
                </p>
            </div>
            <div *ngIf="postForm.get('afterStreaming')?.value=='yes'" class="quantity">
                <label>After Live Streaming :</label>
                <div>
                    <input type="text" placeholder="₹ Enter Price After Live Streaming"
                        onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                        formControlName="postLiveStreamingPirce">
                    <!-- <select>
                        <option value="kg">KG</option>
                        <option value="pc">PC</option>
                    </select> -->
                </div>
            </div>
            <div *ngIf="postForm.get('afterStreaming')?.value=='yes'" class="error-message">
                <p *ngIf="submited && postForm.get('postLiveStreamingPirce').invalid">
                    <span>Enter After Live Streaming</span>
                </p>
            </div>
            <div class="quantity">
                <label>Minimum Lots :</label>
                <div>
                    <input type="text" placeholder="₹ Enter Minimum Lots"
                        onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                        formControlName="minLots" (keyup)="minLostChange($event)">
                    <!-- <select>
                        <option value="kg">KG</option>
                        <option value="pc">PC</option>
                    </select> -->
                </div>
            </div>
            <div class="error-message" *ngIf="minLosterr">
                <p>
                    <span>Minimum Lots Limit {{Qty}} Only</span>
                </p>
            </div>
            <div class="error-message">
                <p *ngIf="submited && postForm.get('minLots').invalid">
                    <span>Enter Minimum Lots</span>
                </p>
            </div>
            <div class="quantity">
                <label>Incremental Lots :</label>
                <div>
                    <input type="text" placeholder="₹ Enter Incremental Lots"
                        onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                        formControlName="incrementalLots" (keyup)="IncreMentLost($event)">
                </div>
            </div>
            <div class="error-message" *ngIf="IncreMentLosterr">
                <p>
                    <span>Incremental Lots Limit Exceeded</span>
                </p>
            </div>
            <div>
                <label>Description :</label>
                <textarea placeholder="Enter description" formControlName="discription"
                    (keypress)="maxlengths($event, 250)" (paste)="(false)"></textarea>
            </div>
            <div class="error-message">
                <p *ngIf="submited && postForm.get('discription').invalid">
                    <span>Enter Description</span>
                </p>
            </div>
            <div class="upload-files">
                <label>Images Upload :</label>
                <div class="choose-file quantity upload-file"><label for="image">Choose File</label><input
                        style="display: none;" type="file" id="image" accept="image/png, image/gif, image/jpeg"
                        (change)="change_image($event)" [multiple]="5">
                    <p style="display: flex; align-items: center;">.JPG,.PNG,.JPEG</p>
                </div>
            </div>

            <div class="uploaded-images radio-button" *ngIf="selected_image_view.length  !=0">
                <div class="image" *ngFor="let item of selected_image_view;index as i">
                    <svg (click)="removeImageshop(item,i)" class="remove-image" width="18" height="18"
                        viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7 7L11 11ZM11 7L7 11ZM17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z"
                            fill="#FF4D4D" />
                        <path
                            d="M7 7L11 11M11 7L7 11M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z"
                            stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <img src="{{item}}">
                </div>
            </div>
            <div class="uploaded-images radio-button" *ngIf="oldDetails  !=null && selected_image.length==0">
                <div class="image" *ngFor="let item of oldDetails.images">
                    <img src="{{baseURL+'/'+item}}">
                </div>
            </div>
            <div class="error-message">
                <p class="">
                    <span *ngIf="selected_image.length==0 && submited && id ==null">Invalid
                        Image</span>
                    <span *ngIf="maxlimit">Only Five Images</span>
                </p>
            </div>

            <div class="upload-files">
                <label>Teaser Upload :</label>
                <div class="choose-file  quantity upload-file"><label for="video">Choose File</label>
                    <input style="display: none;" type="file" id="video" (change)="change_video($event)"
                        accept="video/mp4,video/x-m4v,video/*">
                    <p style="display: flex; align-items: center;">.mp4</p>
                </div>
            </div>

            <div class="uploaded-images radio-button" *ngIf="selected_video_view  !=null">
                <div class="image">
                    <svg (click)="remove_video()" class="remove-image" width="18" height="18" viewBox="0 0 18 18"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7 7L11 11ZM11 7L7 11ZM17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z"
                            fill="#FF4D4D" />
                        <path
                            d="M7 7L11 11M11 7L7 11M17 9C17 10.0506 16.7931 11.0909 16.391 12.0615C15.989 13.0321 15.3997 13.914 14.6569 14.6569C13.914 15.3997 13.0321 15.989 12.0615 16.391C11.0909 16.7931 10.0506 17 9 17C7.94943 17 6.90914 16.7931 5.93853 16.391C4.96793 15.989 4.08601 15.3997 3.34315 14.6569C2.60028 13.914 2.011 13.0321 1.60896 12.0615C1.20693 11.0909 1 10.0506 1 9C1 6.87827 1.84285 4.84344 3.34315 3.34315C4.84344 1.84285 6.87827 1 9 1C11.1217 1 13.1566 1.84285 14.6569 3.34315C16.1571 4.84344 17 6.87827 17 9Z"
                            stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <video src="{{selected_video_view}}"
                        style="width: 100%;height: 50px;border: 2px solid gray;"></video>
                </div>
            </div>
            <div class="uploaded-images radio-button" *ngIf="oldDetails  !=null && selected_video==null">
                <div class="image">
                    <video src="{{oldDetails.video}}" style="width: 100%;height: 50px;border: 2px solid gray;"></video>
                </div>
            </div>
            <div class="error-message"
                *ngIf="selected_video=='invalid' || submited && selected_video==null && id ==null">
                <p>
                    <span>Invalid
                        Video</span>
                </p>
            </div>


            <div class="login-btn btn">
                <button type="submit" class="green-btn ">Post</button>
            </div>



        </div>
    </form>
</div>


<div class="popup-1" *ngIf="addPopup">
    <div class="popup-close-1" (click)="disablePopup()"></div>
    <div class="popup-container-1">
        <div class="close-popup-icon" (click)="disablePopup()">
            <p>x</p>
        </div>
        <div class="content-title">
            <p>Add Product</p>
        </div>
        <div class="form-popup" [formGroup]="AddProductForm">
            <div>
                <p>Category :</p>
                <input type="text" placeholder="Enter Category *" formControlName="category" />
            </div>
            <div class="error-message-popup">
                <p *ngIf="productSubmit && AddProductForm.get('category').invalid">
                    <span>Enter category</span>
                </p>
            </div>
            <div>
                <p>Sub Category :</p>
                <input type="text" placeholder="Enter Sub Category" formControlName="subcategory" />
            </div>
            <div class="error-message-popup">
                <!-- <p *ngIf="productSubmit && AddProductForm.get('subcategory').invalid">
                    <span>Enter subcategory</span>
                </p> -->
            </div>
            <div>
                <p>Product Name :</p>
                <input type="text" placeholder="Enter Product Name *" formControlName="productName" />
            </div>
            <div class="error-message-popup">
                <p *ngIf="productSubmit && AddProductForm.get('productName').invalid">
                    <span>Enter productName</span>
                </p>
            </div>
            <div>
                <p>Brand Name :</p>
                <input type="text" placeholder="Enter Brand Name" formControlName="brandName" />
            </div>
        </div>
        <div class="submit-btn-popup">
            <button type="button" (click)="submitProduct()">Submit</button>
        </div>
    </div>
</div>