.main-container {
  margin: auto;
  /* padding: 20px 0; */
  /* background-color: rgba(215, 230, 222, 1); */
  width: 95%;
  border-radius: 20px;
  /* margin-top: 20px; */
  /* margin-bottom: 10px; */
}

.main-container .form {
  margin: auto;
  max-width: 828px;
}

.form>div {
  display: flex;
  /* margin: 10px 0; */
}

.form div label {
  width: 100%;

}

.form div input[type="text"],
.form div input[type="tel"],
.form div input[type="number"],
.form div select {
  width: 100%;
  border: none;
  border-radius: 50px;
  height: 50px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25) !important;
  /* cursor: pointer; */

}

.form div textarea {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25) !important;
}

.form div input[type='radio'] {
  cursor: pointer;
}

.form div>div input,
.form div>div select {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

textarea {
  padding: 7px;
  min-height: 120px;
}

.form select,
.form input {
  padding: 15px;
}

.form div>div {
  display: flex;
}

.form>div>div>input {
  width: 100%;
  /* box-shadow: none !important; */
}

.form>div>div>select {
  width: 100%;
  /* box-shadow: none !important; */
}

.booking-amount {
  /* height: 0px; */
  margin: 20px 0 0 0 !important;
  align-items: center !important;
}

.booking-amount div label {
  margin-bottom: 0;

}

.booking-amount label {
  width: 100% !important;
}

.booking-amount div {
  width: 100% !important;
  box-shadow: none !important;
  height: 100% !important;
}

.booking-amount div span {
  /* width: fit-content; */
  display: flex;
  align-items: center;
}

.booking-amount div input {
  box-shadow: none !important;
  width: fit-content !important;
  margin-right: 5px;
}

.booking-amount .choose-file {
  display: flex;
  align-items: flex-end;
}

.choose-file p {
  font-size: 12px;
  margin-left: 15px;
}

.choose-file label {
  padding: 7px 30px;
  width: 180px !important;
  background: rgb(230 229 229);
  border: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  text-align: center;
}

.upload-files div {
  box-shadow: none !important;
}

.uploaded-images {
  display: flex;
  /* width: 100% !important; */
  justify-content: flex-start;
  margin-left: 0% !important;
  margin-top: 20px !important;
  flex-direction: row;
}

.booking-amount input[type="radio"] {
  height: auto !important;
}

.uploaded-images .image {
  max-width: 80px;
  position: relative;
  margin: 0 7px;
}

.uploaded-images .image img,
video {
  width: 100%;
  height: 66px !important;
}

.remove-image {
  position: absolute;
  top: -7px;
  right: -7px;
  cursor: pointer;
}

.post-btn {
  width: fit-content !important;
  margin: 25px auto !important;
  padding-bottom: 20px !important;
  display: flex;
  flex-direction: row;
}

.post-btn button {
  background-color: #019444;
  color: white;
  border: none;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 50px;
  font-weight: 600;
}

.error-message {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 9px;
  height: 15px;
  margin-top: 5px;
}

.error-message p {
  width: 100%;
  color: red;
  font-weight: bold;
}

.error-message p span {
  font-weight: bold;
  font-size: 12px;
}

.title {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.title p {
  color: rgba(1, 148, 68, 1);
  font-weight: 700;
  font-size: 20px !important;
  font-family: "Poppins" !important;
}

.add-product {
  width: 100%;
  margin-top: 14px;
  text-decoration: underline;
  color: blue;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: right;
}

.popup-1 {
  height: 100%;
  z-index: 100000000000000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-container-1 {
  z-index: 1;
  max-height: 90vh;
  overflow-y: auto;
  background-color: rgba(245, 245, 245, 1);
  min-width: 92%;
  max-width: 92%;
  /* min-height: 65vh; */
  border-radius: 8px;
  padding-bottom: 20px;
}

.popup-container-2 {
  z-index: 1;
  overflow-y: auto;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 30px;
}

.popup-container-1::-webkit-scrollbar {
  display: none;
}

.popup-close-1 {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 0.5;
}

.content-title p {
  margin-top: 4%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: green;
  font-weight: 500;
}

.form-popup {
  margin: auto;
  max-width: 90%;
  min-width: 90%;
  margin-top: 3%;
}

.form-popup>div {
  display: flex;
  flex-direction: column;
}

.form-popup div label {
  width: 100%;
  margin-bottom: 5px;
}

.form-popup div input {
  width: 100%;
  border: none;
  border-radius: 50px;
  height: 50px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25) !important;
  /* cursor: pointer; */
  padding-left: 20px;
}

.submit-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.submit-btn button {
  width: 70px;
  border: none;
  height: 33px;
  border-radius: 50px;
  background-color: green;
  color: white;
  margin-left: 10px;
}

.worning-message {
  font-size: 17px !important;
  padding: 0 20px;
}

.submit-btn button:last-child {

  background-color: red;

}

.two-inputs {
  position: relative;
}

.two-inputs .dropdown {
  position: absolute;
  width: 100px !important;
  height: 100% !important;
  right: 0;
  box-shadow: none !important;
}

.two-inputs .dropdown button {
  height: 100%;
}

.two-inputs input {
  border-radius: 50px !important;
  flex: 0 0 50%;
}

.two-inputs select {
  border-radius: 50px !important;
  flex: 0 0 20%;
}

.border-inside {
  background: white;
  border-radius: 0 50px 50px 0 !important;
  border: none;
  width: 100%;
}

.border-inside:active {
  border: none !important;
  outline: none;
}

.active {
  background-color: #019444;
}

.dropdown-item:active {
  background-color: #019444;
}

.dropdown-menu label {
  width: 100% !important;
  cursor: pointer;
}

.dropdown-menu input[type='radio'] {
  display: none;
}

.dropdown-toggle::after {
  content: none;
}

.hover-to-show {
  position: absolute;
  width: 250px;
  z-index: 100000;
  right: -3px;
  background: white;
  margin-top: 5px;
  border-radius: 9px;
  padding: 4px 10px;
  font-size: 11px;
  text-align: center;
  box-shadow: 0 0 1px 1px #aeaeae;
  display: none;
  color: black;
}

.hover-me:hover p {
  display: block;
}

.booking-amount div {
  flex-direction: row;
}

.form div {
  margin-bottom: 0 !important;
}

.popup-container-1 table tr td:last-child {
  max-width: 30%;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}


.product-body {
  width: 100%;
  display: table;
  table-layout: fixed;
  /* optional, for equal spacing */
  border-collapse: collapse;
  margin-bottom: 0;
  margin: 5px 0;
}

.product-body li {
  display: table-cell;
  vertical-align: middle;
  overflow-wrap: break-word;
  padding: 1px 11px;
  margin-bottom: 0;
}

.title-popup {
  font-weight: 500;
}